@model ActividadLogin.Models.UsuarioModel
@{
    ViewData["Title"] = "Inicio";
} 
@if (ViewBag.Mensaje != null)
{
    @ViewBag.Mensaje;
}
    <h2>Iniciar sesión</h2>
    

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <p>
        Introduce tu usuario: @Html.TextBoxFor(modelo => modelo.usuario)
        @Html.ValidationMessageFor(modelo => modelo.usuario)
    </p>
    <p>
        Introduce tu contraseña: @Html.PasswordFor(modelo => modelo.contra)
        @Html.ValidationMessageFor(modelo => modelo.contra)
    </p>
    <input type="submit" name="iniciarsesion" value="Iniciar sesión"> 
}

@Html.ActionLink("¿No tienes cuenta? Regístrate <3", "Registro")
@*<p class="registro">¿No tienes cuenta? Regístrate &#10047;</p>*@


