@model ActividadLogin.Models.RegistroModel 
@{
    ViewData ["Title"] = "Registro";
}
    <h2>¡Regístrate! &#10047;</h2>
    @using (Html.BeginForm("Registro", "Registro", FormMethod.Post)) {
        <p>Nombre: @Html.TextBoxFor(modeloregistro => modeloregistro.nombre)</p>
        <p>Teléfono móvil: @Html.TextBoxFor(modeloregistro => modeloregistro.tlf)</p>
        <p>DNI: @Html.TextBoxFor(modeloregisto => modeloregisto.dni)</p>
        <p>Crea tu nombre de usuario: @Html.TextBoxFor(modeloregistro => modeloregistro.email)</p>
        <p>Crea tu contraseña: @Html.PasswordFor(modeloregistro => modeloregistro.contra)</p>

        <input type="submit" name="iniciarsesion" value="Enviar">
    }
